[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pytest = "*"
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
flask-cors = "*"
cachetools = "*"
python-dateutil = "*"
flask-pymongo = "*"
aiohttp = "*"
nest-asyncio = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.8"
